@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka+One&family=Montserrat&display=swap");

// fonts used
$font: "Montserrat", sans-serif;
$font-hand: "Dancing Script", cursive;
$font-mono: "Fredoka One", cursive;

// main colors used
$color-1: #f7f7f7;
$color-2: #cceabb;
$color-3: #3f3f44;
$color-4: #fdcb9e;
