@import "../Resources/variables.scss";

.form {
  display: flex;
  height: 70vh;
  min-height: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .form-group {
    .MuiFormControl-root {
      .MuiInputBase-formControl {
        width: 40vw;
      }
    }
  }

  .change-op {
    margin-top: 25px;
    text-align: left;
    padding-top: 25px;
    border-radius: 0;
    a {
      margin-top: 2px;
    }
  }
}

@media (max-width: 1024px) {
  .form {
    .form-group {
      .MuiFormControl-root {
        .MuiInputBase-formControl {
          width: 60vw;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .form {
    .form-group {
      .MuiFormControl-root {
        .MuiInputBase-formControl {
          width: 80vw;
        }
      }
    }
  }
}

.items {
  display: flex !important;
  justify-content: space-between;
  .item-details {
    display: flex !important;
    justify-content: space-between;
  }
  .item-options {
    display: flex;
    justify-content: flex-end;
    a,
    button {
      margin: 0 20px;
    }
  }
  & > div {
    flex: 1;
  }
}
